<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Rental Car</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


          <li class="nav-item">
            <a class="nav-link active" routerLink="/cars" aria-current="page" href="#">Cars</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>-->


          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>-->


          <!--<li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>-->
        </ul>


        <div class="text-end" *ngIf="checkToLogin()==false">
          <button routerLink="login" type="button"  class="btn btn-outline-light me-2" >
            Log In
          </button>
          
          <button routerLink="register" type="button" class="btn btn-warning">
            Sing Up
          </button>
        </div>

        <!--<ul class="nav navbar-nav ml-auto" *ngIf="checkToEmail()==true">
          <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">{{this.user.firstName}} {{this.user.lastName}}</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a  class="dropdown-item">Ayarlar</a>
              <div class="dropdown-divider"></div>
              <a href="" class="dropdown-item" (click)="logOut()" >Çıkış Yap</a>
            </div>
          </li>
        </ul>-->


          
          <li class="nav-item dropdown" *ngIf="checkToEmail()==true">
            <a  class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">{{this.user.firstName}} {{this.user.lastName}}</a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" routerLink="profile">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" (click)="logOut()">Sign Out</a></li>
            </ul>
          </li>


        
      </div>
    </div>
  </nav>
