<ul class="list-group">
    <li routerLink="/brands/getall" class="btn btn-secondary">BRAND LIST</li>
    
    <li (click)="removeCurrentBrand()" routerLink="/cars" [class]="getAllBrandClass()" class="list-group-item active">BRANDS</li>

    <li (click)="setCurrentBrand(brand)" 
    routerLink="/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands" 
    [class]="getCurrentBrandClass(brand)">
    {{brand.brandName}}</li>

    
</ul>
  
<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h5>